<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>

    // This example creates a 2-pixel-wide red polyline showing the path of
    // the first trans-Pacific flight between Oakland, CA, and Brisbane,
    // Australia which was made by Charles Kingsford Smith.

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: 30.50811, lng: 114.33364},
            mapTypeId: 'terrain'
        });

        var flightPlanCoordinates = [
            {lat: 30.50811, lng: 114.33364},
            {lat: 30.50813, lng: 114.33365},
            {lat: 30.50813, lng: 114.33875},
            {lat: 30.52813, lng: 114.34385},
            {lat: 30.54813, lng: 114.35395},
            {lat: 30.55813, lng: 114.36405},
            {lat: 30.59813, lng: 114.37415}
        ];
        var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        flightPath.setMap(map);
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi3g5nThnEyzWbyzr9pp6llzv3TXfsXv4&callback=initMap">
</script>
</body>
</html>